{% if data %}

<h1 class="title">
    Courses
</h1>

<p> Filter courses: </p>
<input type="text" id="filter-input" placeholder="Enter keyword here..." onkeydown="filterTableContents()" title="Keyword">

<table id="table-contents">
    <thead>
      <tr>
        <th>No.</th>
        <th>Course name</th>
        <th>Category</th>
        <th>Time Required(weeks)</th>
        <th>About</th>
        <th>Syllabus</th>
          <th> Course Rating</th>
        <th> </th>
      </tr>
    </thead>
    <tbody id="courses-content">
        {% for item in data %}
        <tr>
            <td>{{item['id']}}</td>
            <td>
                <a href={{item['url']}}>
                    {{item['name']}}
                </a>
            </td>
            <td>
                {% if item["category"] %}
                    {{item["category"]}}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>
                {% if item["weeks"] %}
                    {{item["weeks"]}}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>
                {% if item["about"] %}
                    {{item["about"]}}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>
                {% if item["syllabus"] %}
                    {{item["syllabus"]}}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>
                {% if item["rating"] and item["rating"]["success"]%}
                    {% if item["worked_on"] %}
                        <div class="rating">
                    {% else %}
                        <div class="rating-fixed">
                    {% endif %}
                            {% if item["rating"]["floored-rating"] > 0 %}
                                <span class="yellow-star">☆</span>
                            {% else %}
                                <span>☆</span>
                            {% endif %}
                            {% if item["rating"]["floored-rating"] > 1 %}
                                <span class="yellow-star">☆</span>
                            {% else %}
                                <span>☆</span>
                            {% endif %}
                            {% if item["rating"]["floored-rating"] > 2 %}
                                <span class="yellow-star">☆</span>
                            {% else %}
                                <span>☆</span>
                            {% endif %}
                            {% if item["rating"]["floored-rating"] > 3 %}
                                <span class="yellow-star">☆</span>
                            {% else %}
                                <span>☆</span>
                            {% endif %}
                            {% if item["rating"]["floored-rating"] > 4 %}
                                <span class="yellow-star">☆</span>
                            {% else %}
                                <span>☆</span>
                            {% endif %}
                        </div>
                {% else %}
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                {% endif %}
            </td>
            <td>
               <input type="button" class="start-button-courses" value="Start work!" id="submit"
                       onclick="{{item['function']}}">
            </td>

            </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<h1 class="error-message">
    Resource unavailable for the moment.
</h1>

{% endif %}
