{% if data %}
    {% if data["success"] %}

        <h1 class="title"> Account Information </h1>

            {% if data["admin"] %}
                <h1 class="title">
                    - {{data["name"]}} -
                </h1>
            {% endif %}

        <!-- GENERAL INFO SECTION -->

        <h1 class="sub-title"> General Information  </h1>
        <hr>


        <div class="edit-container">

                <!-- NAME INFO -->

                {% if data["name"] %}
                    <div id="name-container">
                        <div class="inline">
                            <p class="info">Name: </p>
                        </div>

                        <div class="inline">

                            <p id="nameP" class="name info"> {{data["name"]}} </p>
                            <input id="text-name-edit" class="edit-input" type="text" value="{{data['name']}}">

                        </div>

                        <div class="inline">
                            <i id="edit-icon-name" class="material-icons" onclick="toggleDisplayHide(['text-name-edit','button-cancel-name-edit',
                                        'button-name-edit'], ['nameP', 'edit-icon-name'])">mode_edit</i>

                            <input id="button-name-edit" class="edit-input" type="button" value="Done!"
                                    onclick="updateName();">

                            <input id="button-cancel-name-edit" class="cancel-button edit-input" type="button" value="Cancel!"
                                    onclick="toggleDisplayHide(['nameP', 'edit-icon-name'],
                                                   ['text-name-edit', 'button-name-edit'])">
                        </div>
                    </div>
                {% else %}
                    <h1 class="error-message">
                        Name resource unavailable for the moment.
                    </h1>
                {% endif %}
                <br/>
                {% if data["admin"] %}

                <!-- EMAIL INFO -->
                    {% if data["email"] %}
                        <div id="email-container">
                            <div class="inline">
                                <p class="info"> Email: </p>
                            </div>

                            <div class="inline">
                                {% if data["mailto_link"] %}
                                    <a id="email" class="email-info" href={{data["mailto_link"]}}>
                                        {{data["email"]}}
                                    </a>
                                {% else %}
                                    <p id="email" class="email-info"> {{data["email"]}} </p>
                                {% endif %}

                                <input id="text-email-edit" class="edit-input" type="text" value="{{data['email']}}">


                            </div>

                            <div class="inline">
                                <i id="edit-icon-email" class="material-icons" onclick="toggleDisplayHide(['text-email-edit','button-cancel-email-edit',
                                        'button-email-edit'], ['email', 'edit-icon-email'])">mode_edit</i>

                                <input id="button-email-edit" class="edit-input" type="button" value="Done!"
                                        onclick="updateEmail();">

                                <input id="button-cancel-email-edit" class="cancel-button edit-input" type="button" value="Cancel!"
                                       onclick="toggleDisplayHide(['email', 'edit-icon-email'],
                                                   ['text-email-edit', 'button-email-edit'])">
                            </div>
                        </div>
                    {% else %}
                        <h1 class="error-message">
                            Email resource unavailable for the moment.
                        </h1>
                    {% endif %}

                {% endif %}

            </div>

        <!-- SECURITY SECTION -->

        <h1 class="sub-title"> Security </h1>
        <hr>

        <div class="edit-container">
            {% if data["admin"] %}
                <input id="button-reset-pass" class="button-reset" type="button" value="Reset password"
                        onclick="toggleDisplayHide(['password-reset-container', 'pass-confirm'], ['button-reset-pass'])">
            {% else %}
                <input id="button-reset-pass" class="button-reset" type="button" value="Reset your password"
                        onclick="toggleDisplayHide(['password-reset-container', 'pass-confirm', 'cancel-pass-edit'], ['button-reset-pass'])">
            {% endif %}

            <div id="password-reset-container">
                {% if data["admin"] %}
                    <span></span>
                    <input class="pass-input" type="password" id="new_pass" placeholder="Enter new password here...">

                    <span></span>
                    <input class="pass-input" type="password" id="new_pass_confirm" placeholder="Confirm new password...">
                    <span></span>
                    <input id="pass-confirm" class="edit-input" type="button" value="Submit"
                            onclick="adminUpdatePass();">
                    <input id="cancel-pass-edit" class="edit-input" type="button" value="Cancel"
                           onclick="toggleDisplayHide(['button-reset-pass'], ['password-reset-container','pass-confirms', 'cancel-pass-edit'])">
                {% else %}
                     <span></span>
                     <input class="pass-input" type="password" id="old_pass" placeholder="Enter your old password here...">

                     <span></span>
                     <input class="pass-input" type="password" id="new_pass" placeholder="Enter your new password here...">

                     <span></span>
                     <input class="pass-input" type="password" id="new_pass_confirm" placeholder="Confirm password...">

                     <span></span>
                     <input id="pass-confirm" class="edit-input" type="button" value="Submit"
                            onclick="updatePass();">
                     <input id="cancel-pass-edit" class="edit-input" type="button" value="Cancel"
                           onclick="toggleDisplayHide(['button-reset-pass'], ['password-reset-container','pass-confirms', 'cancel-pass-edit'])">
                {% endif %}

            </div>
        </div>

        {% if data["admin"] %}
            <!-- USER RIGHTS SECTION -->
            <h1 class="sub-title"> User Rights </h1>
            <hr>

            <div class="edit-container">
                {% if data["access"] %}
                    <fieldset class="group">
                        <legend> Set user rights </legend>
                        <ul class="checklist">
                        {% for category in data["access"] %}
                            <li>
                                {% if category["has_access"] %}
                                    <input id={{category["id"]}} type="checkbox" value={{category["name"]}} checked>
                                {% else %}
                                    <input id={{category["id"]}} type="checkbox" value={{category["name"]}}>
                                {% endif %}
                                    <label for={{category["id"]}}> {{category["name"]}}</label>
                            </li>
                        {% endfor %}
                    </ul>
                    </fieldset>
                    <input type="button" class="confirm-button" value="Confirm changes!" onclick="updateUserRights()">
                {% else %}
                    <h1 class="error-message">
                        SERVER ERROR. NO RIGHTS GOT FROM THE DATABASE
                    </h1>
                {% endif %}
            </div>
        {% endif %}


        {% if data["admin"] %}
            <!-- USER HISTORY SECTION -->
            <h1 class="sub-title"> Course that {{data["name"]}} worked on </h1>
            <hr>
            {% if data["courses"] %}
                {% if data["courses"]|length %}
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <td>
                                        No.
                                    </td>
                                    <td>
                                        Course
                                    </td>
                                    <td>
                                        Worked For
                                    </td>
                                    <td>
                                        Rating
                                    </td>
                                    <td>
                                        Rated At
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in data["courses"] %}
                                    <tr>
                                        <td>
                                            {{course["id"]}}
                                        </td>
                                        <td>
                                            {% if course["name"] %}
                                                {% if course["link"] %}
                                                    <a href={{course["link"]}}> {{course["name"]}} </a>
                                                {% else %}
                                                    {{course["name"]}}
                                                {% endif %}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if course["worked_for"] %}
                                                {{course["worked_for"]}}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="rating-fixed">
                                                {% if course["rating"] %}
                                                    <span class="yellow">☆</span>

                                                    {% if course["rating"] > 1 %}
                                                        <span class="yellow">☆</span>
                                                    {% else %}
                                                        <span>☆</span>
                                                    {% endif %}

                                                    {% if course["rating"] > 2 %}
                                                        <span class="yellow">☆</span>
                                                    {% else %}
                                                        <span>☆</span>
                                                    {% endif %}

                                                    {% if course["rating"] > 3 %}
                                                        <span class="yellow">☆</span>
                                                    {% else %}
                                                        <span>☆</span>
                                                    {% endif %}

                                                    {% if course["rating"] > 4 %}
                                                        <span class="yellow">☆</span>
                                                    {% else %}
                                                        <span>☆</span>
                                                    {% endif %}


                                                {% else %}
                                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                                {% endif %}
                                            </div>

                                        </td>
                                        <td>
                                            {% if course["rated_at"] %}
                                                {{course["rated_at"]}}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <h1 class="error-message">
                        {{data["name"]}} hasn't been working on any course so far.
                    </h1>
                {% endif %}
            {% else %}
                <h1 class="error-message">
                    ERROR: Couldn't get course info
                </h1>
            {% endif %}
        {%endif %}

        {% if data["admin"] %}
            <!-- DANGER ZONE SECTION -->
            <h1 class="sub-title"> !!!!!   DANGER ZONE   !!!! </h1>
            <hr>
            <input type="button" class="delete-button" value="DELETE USER!">
        {% endif %}
    {% else %}
        <h1 class="error-message">
            Resource unavailable for the moment.
        </h1>
        <p class="hidden"> {{data["message"]}} </p>
    {% endif %}

{% else %}

    <h1 class="error-message">
        Resource unavailable for the moment.
    </h1>
    <p class="hidden"> data was NULL </p>

{% endif %}