{% if data %}
    {% if data["success"] %}

        <h1 class="title"> Account Information </h1>

        <h1 class="sub-title"> General Information  </h1>
        <hr>


            <div class="edit-container">

                <!-- NAME INFO -->

                {% if data["name"] %}
                    <div class="inline">
                        <p class="info">Name: </p>
                    </div>

                    <div class="inline">

                        <p id="nameP" class="name info"> {{data["name"]}} </p>
                        <input id="text-name-edit" class="edit-input" type="text" value="{{data['name']}}">

                    </div>

                    <div class="inline">
                        <i id="edit-icon-name" class="material-icons" onclick="toggleDisplayHide(['text-name-edit', 'button-name-edit'],
                                      ['nameP', 'edit-icon-name'])">mode_edit</i>

                        <input id="button-name-edit" class="edit-input" type="button" value="Done!"
                            onclick="updateName();">

                        <input id="button-cancel-name-edit" class="cancel-button" type="button" value="Cancel!"
                               onclick="toggleDisplayHide(['nameP', 'edit-icon-name'],
                                                   ['text-name-edit', 'button-name-edit'])">
                    </div>
                {% else %}
                    <h1 class="error-message">
                        Name resource unavailable for the moment.
                    </h1>
                {% endif %}

                {% if data["admin"] %}

                <!-- EMAIL INFO -->
                    {% if data["email"] %}
                        <div class="inline">
                            <p class="info"> Email: </p>
                        </div>

                        <div class="inline">
                            {% if data["mailto_link"] %}
                                <a id="email" class="email-info" href={{data["mailto_link"]}}>
                                    {{data["email"]}}
                                </a>
                            {% else %}
                                <p id="email" class="email-info"> {{data["email"}} </p>
                            {% endif %}

                        </div>
                    {% else %}
                        <h1 class="error-message">
                            Email resource unavailable for the moment.
                        </h1>
                    {% endif %}

                {% endif %}

            </div>


        <h1 class="sub-title"> Security </h1>
        <hr>

        <div class="edit-container">
            <input id="button-reset-pass" class="button-reset" type="button" value="Reset your password"
                   onclick="toggleDisplayHide(['password-reset-container', 'pass-confirm'], ['button-reset-pass'])">

            <div id="password-reset-container">
                <span></span>
                <input class="pass-input" type="password" id="old_pass" placeholder="Enter your old password here...">

                <span></span>
                <input class="pass-input" type="password" id="new_pass" placeholder="Enter your password here...">

                <span></span>
                <input class="pass-input" type="password" id="new_pass_confirm" placeholder="Confirm password...">

                <span></span>
                <input id="pass-confirm" class="edit-input" type="button" value="Submit"
                       onclick="updatePass();">

            </div>
        </div>
    {% else %}
        <h1 class="error-message">
            Resource unavailable for the moment.
        </h1>
        <p class="hidden"> {{data["message"]}} </p>
    {% endif %}

{% else %}

    <h1 class="error-message">
        Resource unavailable for the moment.
    </h1>
    <p class="hidden"> data was NULL </p>

{% endif %}