<!DOCTYPE html>
{% if data %}
    {% if data["success"] %}
        {% if data["users"]|length %}
            <div class="table-wrapper">
                <table>
                <thead>
                <tr>
                    <th>
                        No.
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Admin
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                {% for user in data["users"] %}
                    <tr>
                        <td>
                            {{user["id"]}}
                        </td>
                        <td>
                            {% if user["name"] %}
                                {{user["name"]}}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if user["email"] %}
                                {% if user["mailto_function"] %}
                                    <a href={{user["mailto_function"]}}>
                                        {{user["email"]}}
                                    </a>
                                {% else %}
                                    {{user["email"]}}
                                {% endif %}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if user["admin"] %}
                                {{user["admin"]}}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {% if user["more_info_function"] %}
                                <input type="button" class="more-info" value="Get More Info!"
                                        onclick={{user["more_info_function"]}} >
                            {% endif %}
                        </td>
                    </tr>
                {% endfor%}
                </tbody>
                </table>
            </div>
        {% else %}
            <h1 class="sub-title">
                No users for the moment
            </h1>
        {% endif %}
    {% else %}
        <h1 class="error-message">
            {{data["message"]}}
        </h1>
    {% endif %}
{% else %}
    <h1 class="error-message">
        Resource unavailable for the moment.
    </h1>
{% endif %}
