{% if data %}

{% if data["working"]["success"] and data["working"]["working"] %}

<h1 class="sub-title">
    WARNING! You still have an ongoing course:
</h1>
<div class="table_wrapper">
    <table>
        <thead>
            <th> Course name </th>
            <th> Started working </th>
            <th> Action </th>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% if data["working"]["course"] %}
                        {{data["working"]["course"]}}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    {% if data["working"]["since"] %}
                        {{data["working"]["since"]}}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    <button class="stop-now"
                            id = "stop-button">
                        Stop working now!
                    </button>

                    <button class="continue-working"
                            id="continue-button">
                        Continue working!
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}

<h1 class="title">
    User History
</h1>


<div class="table-wrapper">
	<table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Course name</th>
        <th>Started working</th>
        <th>Worked for</th>
        <th>Rank it!</th>
      </tr>
    </thead>
    <tbody id="history-body">
        {% for item in data["history"] %}
        <tr>
            <td>
                {% if item["id"] %}
                    {{item["id"]}}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>
                <a href= {{item["course_url"]}}>
                    {% if item["course_name"] %}
                        {{item["course_name"]}}
                    {% else %}
                        N/A
                    {% endif %}
                </a>
            </td>
            <td>
                {% if item["started_at"] %}
                    {{item["started_at"]}}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>
                {% if item["time"] %}
                    {{item["time"]}}
                {% else %}
                    00:00:00
                {% endif %}
            </td>
            <td>
                Coming soon!
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
      <tr class="total-leaderboard">
        <td colspan="2"> Total worked: </td>
        <td id = "total">
            {% if data["total"] %}
                {{data["total"]}}
            {% else %}
                <h1 class="error-message">
                    ERROR!
                </h1>
            {% endif %}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
{% else %}
<h1 class="error-message">
    Resource unavailable for the moment.
</h1>
{% endif %}