{% if data %}

<h1 class="title">
  Leaderboard
</h1>

<div class="table-wrapper">
	<table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Worked</th>
      </tr>
    </thead>
    <tbody id="leaderboard-body">
        {% for item in data %}
            <tr>
                <td>
                    {% if item["id"] %}
                        {{item["id"]}}
                    {% else %}
                        N/A
                    {% endif %}
                </td>

                <td>
                    {% if item["name"] %}
                        {{item["name"]}}
                    {% else %}
                        N/A
                    {% endif %}
                </td>

                <td>
                    {% if item["seconds"] %}
                        {{item["seconds"]}}
                    {% else %}
                        00:00:00
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
      <tr class="total-leaderboard">
        <td colspan="2"> Total worked: </td>
        <td id = "total">

        </td>
      </tr>
    </tfoot>
  </table>
</div>

{% else %}

<h1 class="error-message">
    Resource unavailable for the moment.
</h1>

{% endif %}
